body{
	font-family: sans-serif;
}

p{
	font-size: 1.3em;
}

.center-text{
	text-align: center;
}

.navbar{
	background: #00004d;
	border-bottom: .1em solid #00004d;
	padding-top: 5px;
	color: white;
}

.row{
	padding: 5px;
}

#aboutMe, #educationExperience{
	padding: 30px;
}

#aboutMe{
	padding-top: 30px;
	background: #0066ff;
	color: white;
}

#educationExperience{
	background: white;
	color: black;
}

.paragraph{
	text-align: justify;
	line-height: 29px;
	animation-delay: 3s;
}

img{
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	margin-top: 30px;
}


#myPicture{
	background-size: 160% 100%;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    animation-delay: .25s;
}

#mainRow{
	background: #2e2eb7;
	color: white;
	margin-bottom: -22px;
	margin-top: 50px;
	height: 700px;
}

#sectionHeader{
	padding-bottom: 20px;
}

#a100Emblem{
	height: 175px;
}

#myName{
	font-size: 4em;
	animation-delay: .5s;
}

#myQuote{
	font-size: 1.5em;
	animation-delay: 1s;
}