#contain{
	padding-top: 5em;
}

a , a:visited , a:hover , a:active ,a:after {
    text-decoration:none;
}

#tags{
	padding-right: 12em;
}

#navbar-style{
	background: black;
	padding: 1em;
	opacity: .9;
	height: 1em;
	color: white;
	font-size: 1.3em;
}

.btn{
	height: 5em;
	width: 5em;
	background: blue;
}


#row2 , #row3, #row4, #row5{
	border-bottom: .1em solid #FFFFEE;
}

#jumbo{
	background-image:url("image/codebackground3.jpg"); 
	background-repeat:no-repeat; 
	background-size:100% 100%;
}

#mypicture{
	height: 16em;
	width: 16em;
	border-radius: 100em;
	border: .5em solid #103142;
}

.col-md-4 , .col-md-8 , .col-md-6{
	font-family: arial;
}

#myname-header{
	color:	#ffffff;
	font-size: 3.75em;
}

body{
	background: #330066;
}

#wrap{
	padding: 2em;
}

#download-icon{
	font-size: 1em;
	color: white;
}

.container{
	background: #103142;	
}

#icon-div{
	padding-top: 3em;
}

p , li , h3 , a {
	font-family: lucida console;
	color:	white;
}

p , li {
	text-decoration: none;
	font-size: 1.25em;
}

#icon{
	font-size: 5em;
	color: white;
}

#icon:hover{
	color:#50FFD5;
}

h1 , h2{
	color:	#ffffff;
	font-family:'Orbitron', sans-serif;
}

a{
 	text-decoration: none;
 	padding-right: 3em;
}

a:hover{
	text-decoration: none;
	color:#50FFD5;
}

.navbar-collapse.collapse{
	 text-align: center; /* Set this */
     display: block !important;
     height: auto !important;
     padding-bottom: 0;
     overflow: visible !important;
     padding-right: 15em;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

@media only screen and  (max-width: 320px){
	.navbar{
		display: none;
	}
}

@media only screen and  (max-width: 760px){
	.navbar{
		display: none;
	}
}
