.center-text{
	text-align: center;
}

.padding{
	padding-left: 35px;
	padding-right: 35px;
}

.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.headers{
	margin-left: 40px;
}

.icon{
	font-size: 5em;
	color: white;
	display: inline-block;
	padding: 3px;
	-webkit-transition-property: color;
    transition-property: color;
}

.icon:hover{
	color: pink;
}

#icon-fa{
	color: white;
	font-size: 12em;
	padding-top: 20px;
}

#icon-fa:hover{
	color: pink;
}

.resume-button{
	height: 100px;
	width: 250px;
	background: black;
	color: white;
	font-size: 1.2em;
	border:5px solid white;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 40px;
	-webkit-transition-property: color, background,width; 
    transition-property: color, background,width;
}

.resume-button:hover{
	background: white;
	color: black;
	width:300px;
}

.resume-padding{
	padding: 50px;
}

#my-picture-div{
	background-image: url("../css/image/mypic.png");
	background-size: 115% 100%;
	height: 300px;
}

body{
	font-family: 'Archivo Black', sans-serif;
	background:black;
}

.row{
	border-bottom: 5px solid white;
}

#nyc-pic-div{
	color: white;
	background: black;
	background-image: url("../css/image/img1.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}

#row2{
	color: white;
	background: black;
	background-image: url("../css/image/codebackground2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}